// Theme 1

$oneBackground: hsl(222, 26%, 31%);
$oneKeypad: hsl(223, 31%, 20%);
$oneScreen: hsl(224, 36%, 15%);

$oneBtn: #eae3db;
$oneBtnBorder: #b5a69a;

$oneBlueBtn: hsl(225, 21%, 49%);
$oneBlueBtnBorder: hsl(224, 28%, 35%);

$oneOrange: #ce4031;
$oneDarkOrange: #992316;

// Theme 2

$twoBackground: hsl(0, 0%, 90%);
$twoKeypad: hsl(0, 5%, 81%);
$twoScreen: hsl(0, 0%, 93%);
$twoText: hsl(60, 10%, 19%);

$twoBtn: hsl(45, 7%, 89%);
$twoBtnBorder: hsl(35, 11%, 61%);

$twoBlueBtn: hsl(185, 42%, 37%);
$twoDarkBlueBtn: hsl(185, 58%, 25%);

$twoOrangeBtn: hsl(25, 98%, 40%);
$twoDarkOrangeBtn: hsl(25, 99%, 27%);

// Theme 3

$threeBackground: hsl(268, 75%, 9%);
$threeKeypadScreen: hsl(268, 71%, 12%);

$threeBtn: hsl(268, 47%, 21%);
$threeBtnBorder: hsl(268, 77%, 38%);

$threeDelReset: hsl(281, 89%, 26%);
$threeDelResetBorder: hsl(285, 91%, 52%);

$threeEqual: hsl(176, 100%, 44%);
$threeEqualBorder: hsl(177, 92%, 70%);
$threeEqualText: hsl(198, 20%, 13%);

$threeText: hsl(52, 100%, 62%);
